<div class="row">
    <div class="col col-lg-6 offset-lg-1 col-md-8 col-sm-12" >
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" cellspacing="0">
                        <thead>
                            <tr>
                                <th>IdRol</th>
                                <th>Nombre Rol</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>IdRol</th>
                                <th>Nombre Rol</th>
                                <th>Opciones</th>
                            </tr>
                        </tfoot>
                        <tbody >
                            <tr *ngFor="let rol of roles">
                                <td>{{ rol.IdRol }}</td>
                                <td>{{ rol.NombreRol }}</td>
                                <td>Opciones</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Formulario de Roles</h6>
            </div>
            <div class="card-body">
                <form #f="ngForm">
                    <div class="form-group">
                        <label>Código De Rol</label>
                        <input type="text" class="form-control" [(ngModel)]="rol.IdRol" name="IdRol" placeholder="Ingrese Aqui el Código del Rol">
                    </div>
                    <div class="form-group">
                        <label>Nombre De Rol</label>
                        <input type="text" class="form-control" [(ngModel)]="rol.NombreRol" name="NombreRol" placeholder="Ingrese Aqui el Nombre del Rol">
                    </div>
                    <button class="btn btn-primary" (click)="SaveRol()">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>